nav {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  a:hover {
    color: #ff5500;
  }
  